<h1 id="page-title">Contact me</h1>

<div class="contact-container">
    <div class="contact-wrapper">
        <div class="contact-form">
            <%= form_for @contact do |f| %>
                <div class="label-name">
                    <%= f.label :name %><br>
                    <%= f.text_field :name, required: true, class:"label-name-area" %>
                </div>

                <br>

                <div class="label-email">
                    <%= f.label :email %><br>
                    <%= f.email_field :email, required: true, class:"email-area" %>
                </div>

                <br>

                <div class="label-message">
                    <%= f.label :message %><br>
                    <%= f.text_area :message, as: :text, class:"message-area" %>
                </div>

                <%= f.submit 'Send it!', class:"send-button" %>
            <% end %>
        </div>
    </div>
</div>